{{em-smenu}}

 <div class="row" style="margin-top: 2%;">
  <div class="col s12 m6 offset-m3">
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          {{input type="text" class="validate" value=model.nombre}}
          <label class="active" for="nombre">Nombres</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          {{input type="text" class="validate" value=model.apellidos}}
          <label class="active" for="apellidos">Apellidos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">person</i>
          {{input type="text" class="validate" value=model.usuario}}
          <label class="active" for="usuario">Usuario</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">place</i>
          {{input type="text" class="validate" value=model.direccion}}
          <label class="active" for="email">Direccion</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          {{input type="text" class="validate" value=model.telefono}}
          <label class="active" for="telefono">Telefono</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn right blue" {{action 'save' model}}><i class="material-icons left">done</i>Confirmar</a>
    </form>
  </div>
  </div>
 </div>