{{em-smenu}}
<div class="row" style="margin-top: 2%;">
  <div class="col s12 m6 offset-m3">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s8">
            <i class="material-icons prefix">restaurant_menu</i> {{input type="text" class="validate" value=model.nombre}}
            <label for="icon_prefix">Nombre del Paquete</label>
          </div>
          <div class="input-field col s4">
            <i class="material-icons prefix">attach_money</i> {{input type="number" step="any" class="validate" value=model.precio}}
            <label for="icon_prefix">Precio</label>
          </div>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">imagen</i> {{input type="text" class="validate" value=model.imagen}}
            <label for="icon_prefix">URL</label>
          </div>
        <div class="row">
          <h5 class="center-align">Ingredientes</h5>
          <div class="input-field col s12">
            {{#each model.ingredientes as |ingrediente|}}
              {{#unless ingrediente.isExtra}}
              <i class="material-icons prefix">restaurant</i> 
              {{input type="text" class="validate" value=ingrediente.nombre}}
              <label for="icon_prefix"></label>
              {{/unless}}
            {{/each}}
          </div>
        </div>
        <a {{action 'agregar' model}}class="waves-effect waves-light btn left brown"><i class="material-icons left">done</i>Agregar Ingrediente</a>
        <a {{action "save" model}} class="waves-effect waves-light btn right blue"><i class="material-icons left">done</i>Guardar</a>
      </form>
    </div>
  </div>
</div>