{{em-smenu}}
<div class="row">
<div class="col s12 m8 offset-m2">
<table>
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Usuario</th>
              <th></th>
              <th></th>
          </tr>
        </thead>

        <tbody>

          {{#each model as |vendedor|}}
            <tr>
              <td>{{vendedor.nombre}}</td>
              <td>{{vendedor.apellidos}}</td>
              <td>{{vendedor.usuario}}</td>
              <td><a class="btn-floating btn-large waves-effect waves-light grey darken-2" style="margin-right: 10%;" {{action 'borrarVendedor' vendedor}}><i class="material-icons">delete</i></a>

                 {{#link-to "info_vendedor" vendedor.id class="btn-floating btn-large waves-effect waves-light grey darken-2"}}
                  <i class="material-icons">create</i>
                {{/link-to}}               

              </td>
            </tr>


          {{else}}
          No hay vendedores 

          {{/each}}
        </tbody>
      </table>
</div>
</div>